

.rem {
    font-size: 32px;
    width: 10rem;
    height: 10rem;
    background-color: blueviolet;
    border: 2px solid black;
    /*border : border-width border-style border-color*/
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.margin {
    width: 100px;
    height: 120px;
    background-color: brown;
    margin: 10px 20px 50px 40px;
    /* trên dưới / trái phải
    trên / trái phải / dưới
    trên / phải / dưới / trái */
}

.padding {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 10px 20px 50px 40px;
    padding-top: 15%;
    overflow: scroll;
}

.boxed {
    width: 105px;
    height: 105px;
    border: 5px solid blueviolet;
    padding: 1rem;
    background-color: aqua;
    /* box-sizing: border-box; */
    margin-bottom: 50px;
}

a {
    color: aliceblue;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    display: inline-block;
    background-color: blue;
}