.circle {
    position: relative;
    padding-left: 10%;
}

.circle::before{
    content: '';
    width: 12px;
    height: 29px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-20%,50%);

}

.line {
    position: relative;
    text-align: center;
}

.line::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: khaki;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.line-text {
    display: inline-block;
    padding: 10px;
    background-color: aliceblue;
    position: relative;
    z-index: 2;
}

.icon {
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
    color: blueviolet;
    position: relative;
    margin: 5rem auto;
}

.icon::after {
    content: "";
    border-radius: inherit;
    background-color: currentColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.icon-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hieuUngKhiHover {
    text-decoration: none;
}