.p {
    max-width: 300px;
    font-size: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-line: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    font-weight: 200;
    line-height: 2;
    text-align: left;
    word-break: break-all;
}

body {
    font-family: 'Agbalumo',sans-serif;
    /*sans-serif : không gạch chân 
    serif : gạch chân */
    font-size: 30px;
    font-weight: 20;
    line-height: 4;
}